#container {
	border: 4px green solid;
}

.date{
	border: 2px purple solid;
}

.entry {
	border: 3px blue solid;
}

#header {
	border: 3px red solid;
}

#header h2 {
	border: 4px orange solid;
}